/**************************
Author: Ian Joseph Lai Zi Jin
TP No: TP063403
Subject: Add Courses Light CSS
**************************/

/**************************
F O N T - U S E D:
font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;
**************************/

/* import fonts & icons */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --page--title--color: #272837;
    --button-bg-color: #edf0f1;
    --button-text-color: #272837;
    --button-border-color:  #424549;
    --nav-text-inactive: #424549;
    --nav-text-active: #f8537d;
    --button-active-color: #d5d6de;
    --button-shadow-color: black;
    --image-shadow-color: gray;
}

.addcourse-form{
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
    padding-bottom: 70px;
    align-items: center;
}

.addcourse-form-item {
    padding: 5px;
    border-radius: 10px;
}

.addcourse-form-item input {
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.addcourse-form-item input:hover {
    border-color: var(--nav-text-active);
    border-width: 2px;
}

.addcourse-form-item select {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.addcourse-form-item select:hover {
    border-color: var(--nav-text-active);
    border-width: 2px;
    box-shadow: 2px 2px 5px var(--button-shadow-color);
}

.addcourse-form-button {
    background-color: var(--button-bg-color);
    border-color: var(--button-border-color);
    color: var(--button-text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    border-width: 0.8px;
    margin-top: 20px;
}

.addcourse-form-button:hover {
    color: var(--nav-text-active);
    background-color: var(--button-active-color);
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
    font-weight: bold;
    box-shadow: 2px 2px 5px var(--button-shadow-color);
}

.addcourse-form-button i {
    padding-right: 10px;
}

.addcourse-form-img {
    
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 550px;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 6px;
    box-shadow: 2px 2px 5px var(--image-shadow-color);
}