/**************************
Author: Gan Ming liang
TP No: TP063338 
Subject: Homepage Light Theme
**************************/

/**************************
F O N T - U S E D:
font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;
**************************/


.dashboard-filter {
    background: var(--body-background);
    padding-top: 50px;
    padding-bottom: 50px;
}

.dashboard-header {
    color: var(--nav-text-inactive);
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.dashboard-h2 {
    color: var(--nav-text-active);
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    text-align: center;
}

.dashboard-line {
    width: 100px;
    height: 10px;
    background: var(--nav-text-active);
    margin: 40px auto;
}

.dashboard-filter table {
    border-collapse: collapse;
    width: 65%;
    color: var(--dropdown-box-background);
    background: var(--nav-text-active);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-filter th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-right: 40px;
    padding-left: 10px;
}

.dashboard-filter td {
    background-color: var(--slider-background);
    color: var(--nav-text-inactive);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 10px;
}

/* width adjustment */
.course-tb-id {
    width: 12%;
}

.course-tb-name {
    width: 13%;
}

.course-tb-description {
    width: 50%;
}

.course-tb-class {
    width: 13%;
}

.course-tb-lecturer {
    width: 40%;
}

/* search box */
.dashboard-search-div {
    padding-bottom: 30px;
    width: 65%;
    margin: auto;
}

.dashboard-search-box {
    overflow: hidden;
    display: inline;
}

.dashboard-search-TF {
    width: 93.5%;
    margin: auto;
    text-align: center;
    border: 0;
    border-radius: 0px;
    background: var(--slider-background);
    padding: 20px 40px;
    outline: none;
    color: var(--nav-text-inactive);
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}

.dashboard-search-TF:hover {
    background: var(--nav-text-inactive);
    color: var(--slider-background);
}

.dashboard-search-TF:focus {
    background: var(--nav-text-inactive);
    color: var(--slider-background);
}

.dashboard-btn-1 {
    margin-top: 10px;
    margin-left: 38%;
    width: 12%;
    border: 0;
    background: var(--nav-text-active);
    color: var(--dropdown-box-background);
    padding: 10px 10px;
    cursor: pointer;
    font-family: 'Didact Gothic', sans-serif;
}

.dashboard-btn-2 {
    margin-top: 10px;
    margin-left: 1px;
    width: 12%;
    border: 0;
    background: var(--nav-text-active);
    color: var(--dropdown-box-background);
    padding: 10px 10px;
    cursor: pointer;
    font-family: 'Didact Gothic', sans-serif;
}

/* student dashboard */
.download-file-btn {
    text-decoration: none;
    display: inline-block;
    background-color: var(--icon-logo-color);
    color: var(--dropdown-box-background);
    padding: 10px 20px;
    border-radius: 5px;
    scale: 0.8;
}