@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.whole {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    margin-bottom: 500px;
}

.whole-sub{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    margin-bottom: 630px;
}

::selection {
    background: #4158d0;
    color: #fff;
}

.wrapper {
    width: 700px;
    height: fit-content;
    background: #272837;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(95, 94, 94, 0.573);
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
   
}

.wrapper .title {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 100px;
    user-select: none;
    border-radius: 15px 15px 0 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper form {
    padding: 10px 30px 50px 30px;
    font-family: 'League Spartan', sans-serif;
}

.wrapper form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 15px;
    position: relative;
}

.wrapper form .field input,
.wrapper form .field select {
    height: 100%;
    width: 620px;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    background: #272837;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
    color: #e9e9e9;
}

.wrapper form .r input{
    color:rgb(168, 167, 167);
}

.wrapper form .field select {
    width: 640px;
    cursor: pointer;
    color: #f8f8fa;
}

.wrapper form .field input:focus,
form .field input:valid {
    border-color: #f392a1;
}

.wrapper form .field label {
    position: absolute;
    top: 43%;
    left: 20px;
    color: #d9d6d6;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.wrapper form .r label {
    top: 0%;
    font-size: 16px;
    left: 20px;
    color: #f8f8fa;
    background: #272837;
    font-weight: 400;
    pointer-events: none;
    transform: translateY(-50%);
}

.wrapper form .icon{
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 42%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.25rem;
    z-index: 2;
}

form .field input:focus~label,
form .field input:valid~label {
    top: 0%;
    font-size: 16px;
    color: #f392a1;
    background: #272837;
    transform: translateY(-50%);
}

.wrapper form .s input[type="file"]{
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    font-family: 'League Spartan', sans-serif;
}

form .content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

form .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .content input {
    width: 15px;
    height: 15px;
    background: red;
}

form .content label {
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

form .field input[type="submit"] {
    color: #fdfdfd;
    border: none;
    width: 640px;
    padding-left: 0;
    margin-top: -5px;
    font-size: 20px;
    font-weight: 530;
    cursor: pointer;
    background: linear-gradient(-135deg, #554053, #3e4255);
    transition: all 0.3s ease;
}

form .field input[type="submit"]:hover {
    color: #fdfdfd;
    font-size: 25px;
    text-shadow: #000000;
    background: linear-gradient(-135deg, #a780a5c8, #747a92);
}

form .field input[type="submit"]:active {
    transform: scale(0.95);
}

/**/
.message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}