.contact {
    width: 100%;
    overflow: hidden;
}

.contact .container{
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.contact .container > div{
    grid-column: 1/2;
    grid-row: 1/2;
}

.left{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 3;
}

.contact-heading h1{
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;
}

.text{
    line-height: 1.1;
    font-size: 1rem;
}

.forms-wrapper{
    max-width: 32rem;
}

.contact-form{
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input-wrap{
    position: relative;
}

.input-wrap.w-100{
    grid-column: span 2;
}

.contact-input{
    width: 100%;
    background-color: #ececec;
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.95rem;
    transition: 0.3s;
}

.contact-input :hover{
    background-color: #dbf0f7;
}

.input-wrap label{
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: #929090;
    pointer-events: none;
}

.input-wrap i{
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    color: #929090;
    pointer-events: none;
    font-size: 1.25rem;
}

.input-wrap.focus .contact-input{
    background-color: aliceblue;
    border: 2px solid #9a9aff;
    box-shadow: 0 0 0 5px #929090;
}